extends layout

block content
  header#header
    h1= title
    p Welcome to #{title}

  main#app
    figure.videos
      video(
        id="self-video"
        autoplay
        muted
        playsinline
      )
      video(
        id="peer-video"
        autoplay
      )
      figcaption
        button#call-button Start Call

      aside.chat
        ul#chat-log

        form(
          id="chat-form"
          action="null"
        )
          input(
            disabled="true"
            id="message"
            name="message"
            type="text"
            autocomplete="off"
          )
          button(
            disabled="true"
            id="send-button"
            name="send-button"
            type="submit"
          ) Send

    div#game
        button#start-game(type="submit") Start Game
        table#checkerboard(style='width:100%', border='5px', padding='5px', text-align='center', margin='0 auto', font='monospace')
          tbody
            tr
              td
                a.red.fill(id='1')
              td
                a.black.fill(id='2')
              td
                a.red.fill(id='3')
              td
                a.black.fill(id='4')
              td
                a.red.fill(id='5')
              td
                a.black.fill(id='6')
              td
                a.red.fill(id='7')
              td
                a.black.fill(id='8')
            tr
              td
                a.black.fill(id='9')
              td
                a.red.fill(id='10')
              td
                a.black.fill(id='11')
              td
                a.red.fill(id='12')
              td
                a.black.fill(id='13')
              td
                a.red.fill(id='14')
              td
                a.black.fill(id='15')
              td
                a.red.fill(id='16')
            tr
              td
                a.red.fill(id='17')
              td
                a.black.fill(id='18')
              td
                a.red.fill(id='19')
              td
                a.black.fill(id='20')
              td
                a.red.fill(id='21')
              td
                a.black.fill(id='22')
              td
                a.red.fill(id='23')
              td
                a.black.fill(id='24')
            tr
              td
                a.black.fill(id='25')
              td
                a.red.fill(id='26')
              td
                a.black.fill(id='27')
              td
                a.red.fill(id='28')
              td
                a.black.fill(id='29')
              td
                a.red.fill(id='30')
              td
                a.black.fill(id='31')
              td
                a.red.fill(id='32')
            tr
              td
                a.red.fill(id='33')
              td
                a.black.fill(id='34')
              td
                a.red.fill(id='35')
              td
                a.black.fill(id='36')
              td
                a.red.fill(id='37')
              td
                a.black.fill(id='38')
              td
                a.red.fill(id='39')
              td
                a.black.fill(id='40')
            tr
              td
                a.black.fill(id='41')
              td
                a.red.fill(id='42')
              td
                a.black.fill(id='43')
              td
                a.red.fill(id='44')
              td
                a.black.fill(id='45')
              td
                a.red.fill(id='46')
              td
                a.black.fill(id='47')
              td
                a.red.fill(id='48')
            tr
              td
                a.red.fill(id='49')
              td
                a.black.fill(id='50')
              td
                a.red.fill(id='51')
              td
                a.black.fill(id='52')
              td
                a.red.fill(id='53')
              td
                a.black.fill(id='54')
              td
                a.red.fill(id='55')
              td
                a.black.fill(id='56')
            tr
              td
                a.black.fill(id='57')
              td
                a.red.fill(id='58')
              td
                a.black.fill(id='59')
              td
                a.red.fill(id='60')
              td
                a.black.fill(id='61')
              td
                a.red.fill(id='62')
              td
               a.black.fill(id='63')
              td
                a.red.fill(id='64')

        br

  script(src='/javascripts/checkers.js')
  script.
    window.NAMESPACE = "#{namespace}";
